:root {
  --text-color: #000;
  --background-color: #fff;
  --hover-background-color: #ddd;
  --active-color: #007bff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #333;
    --hover-background-color: #555;
    --active-color: #4dabff;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  list-style-type: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  color: var(--text-color);
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s;
}

.pagination li a:hover {
  background-color: var(--hover-background-color);
}

.pagination .active a {
  color: var(--active-color);
  font-weight: bold; /* Make the current page bold */
}
